section h1 {
  text-align: center;

  margin: 0;
  padding: 4.8rem 0 0;

  color: #309975;
}

.movie-section {
  display: flex;
  width: 100%;
  padding: 3.2rem 2.4rem;
}

.actions {
  display: flex;
  padding-top: 0;
  padding-bottom: 3rem;
  justify-content: center;
}

.actions button {
  cursor: pointer;
  padding: 0.8rem 2.4rem;
  border-color: transparent;

  background: #e5e5e5;
  border-radius: 0.5rem;
}

.buttonText {
  margin: 0;
  text-align: center;
  font-size: 1.8rem;
  color: #575757;
}

@media (max-width: 1200px) {
  section h1 {
    /* font-size: 3.2rem; */
    padding: 4.8rem 0 0;
  }
}

@media (max-width: 500px) {
  section h1 {
    font-size: 3.2rem;
  }

  .movie-section {
    display: flex;
    width: 100%;
    padding: 3.2rem 1.2rem;
  }
}

@media (max-width: 320px) {
  section h1 {
    font-size: 2.4rem;
    padding: 2.4rem 1rem 0;
  }

  .movie-section {
    display: flex;
    width: 100%;
    padding: 3.2rem 1.2rem;
  }
}
