.header {
  width: 100%;
  height: 8rem;
  display: flex;
  position: sticky;
  z-index: 100;
  top: 0;
  align-items: center;
  justify-content: space-between;
  padding: 0 8%;
  background: linear-gradient(107.56deg, #306099 0%, #58b368 100%);
}

.header div {
  display: flex;
  align-items: center;
}

.header input {
  width: 24rem;
  height: 4.8rem;
  border-color: transparent;
  padding: 1.6rem;

  font-weight: 400;
  font-size: 1.6rem;
  color: #575757;

  background: #e5e5e5;
  border-radius: 0.5rem;

  outline: none;
}

.header div p {
  margin-left: 1.6rem;
  font-weight: Bold;
  font-size: 2.8rem;
  text-transform: uppercase;
}

.header a {
  text-decoration: none;
  color: #fff;
}

.main {
  margin: 0 auto;
}

.footer {
  display: flex;
  width: 100%;
  padding: 3%;
  align-items: center;
  justify-content: space-between;
}

.lorem p,
.copyright p {
  width: fit-content;
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  color: #ffffff;
}

.copyLink {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.socmedLinks {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (min-width: 1201px) {
  .footer {
    flex-direction: row;
  }

  .lorem {
    max-width: 60rem;
  }

  .lorem p {
    text-align: left;
  }

  .copyLink {
    width: 45rem;
    flex-direction: row;
  }

  .copyright {
    max-width: 40rem;
  }

  .socmedLinks {
    width: 15rem;
  }
}

@media (max-width: 1200px) {
  .footer {
    flex-direction: column;
    padding: 5%;
  }

  .footer .lorem {
    max-width: 100%;
  }

  .lorem p {
    text-align: center;
    margin: 0 auto;
  }

  .copyLink {
    width: 100%;
    flex-direction: column;
    padding-top: 4rem;
  }

  .copyright {
    text-align: center;
    max-width: 100%;
  }

  .socmedLinks {
    width: 30rem;
    padding-top: 4rem;
  }
}

@media (max-width: 800px) {
  .header {
    width: 100%;
    height: 8rem;
    padding: 0 4%;
  }

  .header div p {
    margin-left: 0.8rem;
    font-size: 2.4rem;
  }

  .header input {
    width: 14rem;
    height: 2.4rem;
  }

  .lorem p,
  .copyright p {
    font-size: 1.8rem;
  }

  .lorem p {
    margin: 4rem auto 0;
  }

  .copyLink {
    padding-bottom: 4rem;
  }

  .copyright {
    margin: 2rem 0;
  }

  .socmedLinks {
    padding-top: 2rem;
  }

  .socmedLinks a svg {
    width: 2.4rem;
    height: 2.4rem;
  }
}

@media (max-width: 320px) {
  .header {
    width: 100%;
    height: 8rem;
    padding: 0 4%;
  }

  .header div img {
    width: 2.4rem;
    height: 2.4rem;
  }

  .header div p {
    margin-left: 0.8rem;
    font-size: 2.1rem;
  }

  .header input {
    width: 12rem;
    padding: 1.2rem;
  }

  .copyLink {
    padding-bottom: 4rem;
  }

  .copyright {
    margin: 2rem 0;
  }

  .socmedLinks {
    width: 23rem;
  }
}
